<div class="row box-typical seccion mt-10">
	<div class="row margin-bottom-20">
		<div class="col-md-12 contendor-header-eventos">
			<h3 class="nombre-actividad">Evidencias</h3>
			<button type="button" class="btn texto-blanco btn-rounded btn-primario">Nueva evidencia</button>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 text-center" *ngIf="evidenciasVacias==true">
			<h6>No hay evidencias registradas.</h6>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-xl-3 margin-bottom-20" *ngFor="let evidencia of evidencias">

			<article class="card-typical targeta-eventos">
				<div class="card-typical-section card-typical-content ">
					<div class="photo">
						<img src="{{rutaArchivo}}{{evidencia.url_evidencia}}" alt="" class="portada-evento">
					</div>

				</div>

				<div class="card-typical-section text-center">
					<p class="">{{evidencia.descripcion}}</p>
				</div>

				<div class="card-typical-section text-right">
					<button (click)='eliminarEvidencia(evidencia._id)' class="boton-icono"><i
							class="fas fa-trash-alt icono-dt  icono-rojo-suave icono" title="Eliminar"></i></button>
				</div>
			</article>
		</div>
	</div>
</div>
