<div class="row box-typical seccion">

	<div class="row mb-4">
		<div class="col-md-10">
			<h3 class="">Eventos</h3>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="table-responsive">
			<table datatable [dtOptions]="dtOptions" class="display table table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Departamento</th>
						<th>Tipo</th>
						<th>Categoría</th>
						<th>Costo</th>
						<th>Fecha de inicio</th>
						<th>Fecha de termino</th>
						<th>En memoria</th>
						<th>Acciones</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Policamp</td>
						<td>Dirección</td>
						<td>Taller</td>
						<td>Actividades culturales</td>
						<td>$300</td>
						<td>12/Junio/2019</td>
						<td>15/Junio/2019</td>
						<td><span>No</span><i class="fas fa-plus icono-verde-suave icono-dt icono"></i>
						</td>
						<td class="text-center"><i class="fas fa-eye icono-gris icono-dt icono"></i><i
								class="fas fa-edit icono-dt icono-azul-suave icono"></i><i
								class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>

</div>