<div class="page-center" *ngIf='mostrarFormulario==true'>
  <div class="page-center-in">
      <div class="container-fluid">
          <form class="sign-box">
              <div class="sign-avatar">
                  <img src="assets/img/candado2.png" alt="">
              </div>
              <header class="sign-title">Restablecer Contraseña</header>

              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña"
                    [(ngModel)]="usuario.password" #password="ngModel" />
                <p class="error" *ngIf='miFormulario.passwordVacia'>Completa este campo.</p>
                <p class="error" *ngIf='miFormulario.passwordFormato==false && !this.miFormulario.passwordVacia'>
                    Formato
                    inválido.</p>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirmar contraseña"
                    [(ngModel)]="usuario.password2" #password2="ngModel" />
                <p class="error" *ngIf='miFormulario.password2Vacia'>Completa este campo.</p>
                <p class="error" *ngIf='miFormulario.password2Formato==false && !this.miFormulario.password2Vacia'>
                    Formato
                    inválido.</p>
                <p class="error"
                    *ngIf='miFormulario.passwordIguales==false && !miFormulario.password2Vacia && !miFormulario.passwordVacia'>
                    Las contraseñas son distintas</p>
            </div>

              <div class="text-center">
                  <button type="submit" class="btn btn-rounded m-5" (click)="restablecerPassword()">Restablecer</button>
                  <a class="btn btn-rounded btn-secondary m-5" routerLink="/calendario">Cancelar</a>
              </div>
          </form>
      </div>
  </div>
</div>
<!--.page-center-->
