<div class="row box-typical seccion">
  <div class="row mb-4">
    <div class="col-md-10">
      <h3 class="">Usuarios</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" *ngIf="mostrarTabla==true">
        <table datatable [dtOptions]="dtOptions" class="table table-sm table-bordered table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Departamento</th>
              <th>No empleado</th>
              <th>Teléfono</th>
              <th>Correo electrónico</th>
              <th>Estado</th>
              <th>Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{usuario.nombre}} {{usuario.apellido_paterno}} {{usuario.apellido_materno}}</td>
              <td>{{usuario.departamento.nombre}}</td>
              <td>{{usuario.num_empleado}}</td>
              <td>{{usuario.telefono}}</td>
              <td>{{usuario.correo}}</td>
              <td>{{usuario.estado_registro}}</td>
              <td class="text-center">
                <button *ngIf='usuario.estado_registro!="Registrado" && usuario.tipo_usuario!=tipoAdministrador'
                  (click)="aceptarUsuario(usuario._id)" class="btn-icono"><i
                    class="fas fa-check icono-verde-suave icono-dt icono" title="Aceptar"></i></button>
                <button *ngIf='usuario.estado_registro!="Registrado" && usuario.tipo_usuario!=tipoAdministrador'
                  (click)="rechazarUsuario(usuario._id)" class="btn-icono"><i
                    class="fas fa-times icono-dt icono-rojo-suave icono" title="Rechazar"></i></button>
                <button *ngIf='usuario.tipo_usuario!=tipoAdministrador' (click)="eliminarUsuario(usuario._id)"
                  class="btn-icono"><i class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"
                    title="Eliminar"></i></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>


</div>