<div class="row box-typical seccion">
  <div class="row mb-4">
    <div class="col-md-10">
      <h3 class="">Usuarios</h3>
    </div>
  </div>

  <div class="col-sm-12">
    <table datatable [dtOptions]="dtOptions" class="display table table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Departamento</th>
          <th>No empleado</th>
          <th>Teléfono</th>
          <th>Correo electrónico</th>
          <th>Estado</th>
          <th>Acciones</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>
        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>

        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>
        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>
        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>

        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>
        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>
        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>
        <tr>
          <td>Cesar Alexis Fajardo Flores</td>
          <td>Dirección</td>
          <td>$123456</td>
          <td>4921091542</td>
          <td>alexyz.of@gmail.com</td>
          <td>Pre registrado</td>
          <td class="text-center"><i class="fas fa-check icono-verde-suave icono-dt icono"></i><i
              class="fas fa-times icono-dt icono-rojo-suave icono"></i><i
              class="fas fa-trash-alt icono-dt  icono-rojo-suave icono"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>