<div class="page-center">
  <div class="page-center-in">
      <div class="container-fluid">
          <form class="sign-box">
              <div class="sign-avatar">
                  <img src="assets/img/avatar-sign.png" alt="">
              </div>
              <header class="sign-title">Iniciar sesión</header>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Correo electrónico"/>
                  <p class="error">Completa este campo.</p>
                  <p class="error">Formato inválido.</p>
                  <p class="error">El correo electrónico no existe.</p>

              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Contraseña"/>
                  <p class="error">Completa este campo.</p>
                  <p class="error">Formato inválido.</p>
              </div>

              <div class="form-group">
                  <div class="text-center reset">
                      <a href="">¿Olvidaste tu contraseña?</a>
                  </div>
              </div>

              <button type="submit" class="btn btn-rounded">Iniciar sesión</button>
              <p class="sign-note">¿No tienes una cuenta? <a routerLink="/registro">Crear cuenta</a></p>

          </form>
      </div>
  </div>
</div><!--.page-center-->