<div class="row">
    <div class="col-xl-6 dahsboard-column">

        <article class="card-typical">
            <div class="card-typical-section fondo-azul-primario">
                <h4 class="title text-center texto-blanco texto-negrita">Curso</h4>
            </div>
      
            <div class="card-typical-section card-typical-content">
              <div class="photo">
                <img src="../../../../assets/img/banner.jpg" alt="" class="portada-evento">
              </div>
            
            </div>
      
            <div class="card-typical-section">
              <button class="btn btn-primary btn-block">Ver evidencias</button>
            </div>
          </article><!--.card-typical-->
    </div>

    <div class="col-xl-6 dahsboard-column box-typical box-typical-dashboard panel panel-default seccion">
        <h4 class="title text-center">Fundamentos de JavaScript</h4>
        <p><span class="texto-negrita">Descripción:</span></p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt totam iste eos, autem temporibus saepe distinctio minus eveniet quae provident vero, corporis, quia et eaque sit non repellendus odio nostrum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum reprehenderit ab nisi? Commodi ad vero expedita ipsum aliquam. Recusandae nisi, numquam provident saepe facere laudantium neque ex aut? Dolorem, adipisci!</p>
      <p><span class="texto-negrita">Departamento: </span>Dirección</p>
      <p><span class="texto-negrita">Categoría: </span>Actividad para estudiantes</p>
      <p><span class="texto-negrita">Costo: </span>$150</p>
      <p><span class="texto-negrita">Fecha de inicio: </span>12/Junio/2019</p>
      <p><span class="texto-negrita">Fecha de termino: </span>01/Julio/2019</p>
    </div>
</div>
