<div class="row contenedor-centrado">
	<div class="col-12 col-lg-8 col-xl-6 mx-auto">
		<article class="card-typical targeta-eventos">
			<div class="card-typical-section fondo-azul-primario contenedor-title-tarjeta centrar-contenido">
				<h1 class="title text-center texto-blanco texto-negrita titulo-tarjeta">
					{{evento.nombre | uppercase}}</h1>
			</div>

			<div class="card-typical-section card-typical-content ">
				<div class="photo">
					<img src="{{rutaArchivo}}{{evento.url_portada}}" alt="">
				</div>
			</div>

			<div class="card-typical-section text-center">

				<div class="row">
					<div class="col-xs-12">
						<p class="padding-5"><strong>Tipo de actividad:
							</strong><span>{{evento.tipo_actividad.nombre}}</span></p>
						<p class="padding-5"><strong>Departamento:
							</strong><span>{{evento.departamento.nombre}}</span></p>
						<p class="padding-5"><strong>Categoría:
							</strong><span>{{evento.categoria.nombre}}</span></p>
						<p class="padding-5"><strong>Costo:
							</strong><span>$ {{evento.costo}}</span></p>
						<p class="padding-5"><strong>Descripcion:
							</strong><span>{{evento.descripcion}}</span></p>
					</div>

				</div>

				<div class="row">
					<div class="col-md-6">
						<p class="padding-5"><strong>Fecha de inicio:
							</strong><span>{{evento.fecha_inicio | date:'mediumDate'}}</span></p>
					</div>

					<div class="col-md-6">
						<p class="padding-5"><strong>Hora de inicio:
							</strong><span>{{evento.hora_inicio}}</span></p>
					</div>

				</div>

				<div class="row">
					<div class="col-md-6">
						<p class="padding-5"><strong>Fecha de término:
							</strong><span>{{evento.fecha_termino | date:'mediumDate'}}</span></p>
					</div>

					<div class="col-md-6">
						<p class="padding-5"><strong>Hora de término:
							</strong><span>{{evento.hora_termino}}</span></p>
					</div>

				</div>

				<div class="row">

					<div class="col-md-6">
						<p class="padding-5"><strong>Ponentes:
							</strong><span>{{evento.ponentes.nombre}}</span></p>
					</div>

					<div class="col-md-6">
						<p class="padding-5"><strong>Poblacion:
							</strong><span>{{evento.poblacion.nombre}}</span></p>
					</div>

				</div>
			</div>

			<div class="card-typical-section" *ngIf="tipoUsuario==tipoAdministrador">
				<button type="button" class="btn btn-primary btn-block" data-toggle="modal"
					data-target="#verEvidencias">Ver
					evidencias</button>
			</div>

		</article>
	</div>
</div>


<!--Modal de evidencias-->
<div class="modal fade" id="verEvidencias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
					<i class="font-icon-close-2"></i>
				</button>
				<h4 class="modal-title text-center" id="myModalLabel">Evidencias del evento:
					"{{evento.nombre | uppercase}}"</h4>
			</div>

			<div class="modal-body">

				<div class="form-group row">
					<div class="col-md-6 text-center">
						<p class="texto-negrita">Hombres</p>
						<p>{{evento.hombres}}</p>
						<p *ngIf="evento.hombres==undefined">-</p>
					</div>

					<div class="col-md-6 text-center">
						<p class="texto-negrita">Mujeres</p>
						<p>{{evento.mujeres}}</p>
						<p *ngIf="evento.mujeres==undefined">-</p>
					</div>

				</div>

				<div class="form-group row d-flex justify-content-between">
					<div class="col-md-6 text-center">
						<p class="texto-negrita">Ponentes</p>
						<p>{{evento.ponentes.nombre}}</p>
					</div>

					<div class="col-md-6 text-center">
						<p class="texto-negrita">Población</p>
						<p>{{evento.poblacion.nombre}}</p>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-12 col-md-4" *ngFor="let evidencia of evento.evidencias">
						<article class="card-typical">
							<div class="">
								<a href="{{rutaArchivo}}{{evidencia.url_evidencia}}" target="blank"><img
										src="{{rutaArchivo}}{{evidencia.url_portada}}" alt=""
										class="portada-evento imagen-evidencia"></a>
								<p class="p-10 text-center">{{evidencia.descripcion}</p>
							</div>
						</article>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!--.modal-->