
@import url('https://fonts.googleapis.com/css?family=Roboto');

*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
    font-family: 'Roboto', sans-serif;
    --color-blanco: #FFF;
    --color-icono-gris: #ADB7BE;
    --color-rojo-suave: #F35F62;
    --color-azul-suave: #1B99CF;
    --color-verde-suave: #46C35F;
    --color-gris:#53575A;
    --color-negro: #000;
    --color-fondo: #ECEFF4;
    --color-azul-primario: #16B4FC;
    --color-naranja-suave: #F29824;
    --color-morado-suave: #AC6BEC;
    --color-link:#0056B3;
    --color-blanco-hover:#E8EAED;
    
}

body
{
    color: var(--color-gris);
}

h1
{
    color: var(--color-negro);
}

.minh-100
{
    height: 80vh;
}

.mt-100
{
    margin-top: 100px;
}

.mt-20
{
    margin-top: 20px;
}
.icono
{
    margin-right: 5px;
}
.icono-azul-suave
{
    color: var(--color-azul-primario);
}

.icono-rojo-suave
{
    color: var(--color-rojo-suave);
}

.icono-verde-suave
{
    color: var(--color-verde-suave);
}

.icono-naranja-suave
{
    color: var(--color-naranja-suave);
}

.icono-morado-suave
{
    color: var(--color-morado-suave);
}
.icono-gris
{
    color: var(--color-icono-gris);
}

.seccion
{
  padding: 10px;
}

.titulo-icono
{
    color: var(--color-blanco);
    font-size: 20px;
    font-weight: bold;
}

.texto-blanco
{
    color: var(--color-blanco);
}

.texto-gris
{
    color: var(--color-gris);
}

.texto-negro
{
    color: var(--color-negro);
}

.fondo-gris
{
    background: var(--color-fondo);
}

.fondo-blanco
{
    background: var(--color-blanco);
}

.btn-primario
{
    color: var(--color-azul-primario);
}

.btn-primario:hover
{
    color: var(--color-blanco);
}


.dataTables_filter input
{
  border-radius: 4px;
  box-shadow: none;
  padding: 2px;
  margin-bottom: 5px;
}

.icono-dt
{
    margin-top: 5px;
    font-size: 16px;
}

table{
    font-size: .85em;
    text-align: center;
  }

  .margen-izquierdo
  {
      margin-left: 5px;
  }

  .fondo-azul-primario
  {
    background: #212B30;
  }

  .portada-evento
  {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .texto-negrita
  {
      font-weight: bold;
  }

  .caja-evidencia
  {
      border: solid 1px black;
  }

  .imagen-evidencia
  {
    object-fit: cover;
    height: 100px;
  }

  /*Estilos para datatables*/
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: black !important;
    border: 1px solid var(--color-gris);  
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    background: var(--color-gris);
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
   color: black !important;
    background: var(--color-gris);
  }

  .zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
    position:relative;
     z-index:1;
    
}
.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(2);
    -moz-transform : scale(2);      /* Firefox */
    -webkit-transform : scale(2);   /* Chrome - Safari */
    -o-transform : scale(2);        /* Opera */
    position:relative;
     z-index:2;
}

/*Estilos full calendar*/
.fc-event {
  
    border: 1px solid var(--color-azul-primario);
    /* default BORDER color */ }
  
  .fc-event,
  .fc-event-dot {
    background-color: var(--color-azul-primario);
    /* default BACKGROUND color */ }

.error
{
  color: var(--color-rojo-suave);
  font-size: 14px;
  padding: 0;
  margin:0;
  margin-left: 5px;
}