<div class="mobile-menu-left-overlay"></div>

<nav class="side-menu" >
    <ul class="side-menu-list">
        <li>
            <a routerLink="/calendario"><span class="lbl"><i
                        class="far fa-calendar-alt icono-verde-suave icono"></i>Calendario</span></a>
        </li>

        <li (click)="mostrarEventos()">
            <span>
                <i class="fas fa-calendar-week icono-azul-suave icono"></i>
                <span class="lbl">Eventos</span>
            </span>
        </li>

        <div *ngIf="mostrarContadores==true">
            <li class="red margin-left-25" *ngFor="let evento of eventos">
                <a routerLink="/eventos/{{evento.id}}" class="label-right">
                    <span class="lbl">{{evento.nombre}}</span>
                    <span class="label label-custom label-pill label-danger">{{evento.numero}}</span>
                </a>
            </li>
        </div>

        <!--
        <li class="grey with-sub">
            <span>
                <i class="fas fa-calendar-week icono-azul-suave icono"></i>
                <span class="lbl">Eventos</span>
            </span>
            <ul>

            <li class="red" *ngFor="let evento of eventos">
                <a routerLink="/eventos/{{evento.id}}" class="label-right">
                    <span class="lbl">{{evento.nombre}}</span>
                    <span class="label label-custom label-pill label-danger">{{evento.numero}}</span>
                </a>
            </li>

            </ul>
        </li>

        -->

        <li *ngIf='tipoUsuario=="$2a$10$kAuF.n3BG7N8rXpqKnGziOkk8jplw4DWVdkUshhsc3Bvt8YVx2Yom"'>
            <a routerLink="/usuarios"><span class="lbl"><i
                        class="fas fa-users icono-naranja-suave icono"></i>Usuarios</span></a>
        </li>

        <li>
            <a routerLink="/" (click)="apiSisEvent.salir()"><span class="lbl"><i class="fas fa-sign-out-alt icono-rojo-suave icono"></i>Salir</span></a>
        </li>

    </ul>
</nav>
<!--.side-menu-->