<div class="mobile-menu-left-overlay"></div>

<nav class="side-menu">
    <ul class="side-menu-list">
        <li>
            <a routerLink="/calendario"><span class="lbl"><i
                        class="far fa-calendar-alt icono-verde-suave icono"></i>Calendario</span></a>
        </li>

        <li class="grey with-sub">
            <span>
                <i class="fas fa-calendar-week icono-azul-suave icono"></i>
                <span class="lbl">Eventos</span>
            </span>
            <ul>

                <li class="red">
                    <a routerLink="/eventos" class="label-right">
                        <span class="lbl">Cursos</span>
                        <span class="label label-custom label-pill label-danger">35</span>
                    </a>
                </li>

                <li class="red">
                    <a routerLink="/eventos" class="label-right">
                        <span class="lbl">Ponencias</span>
                        <span class="label label-custom label-pill label-danger">21</span>
                    </a>
                </li>

                <li class="red">
                    <a routerLink="/eventos" class="label-right">
                        <span class="lbl">Diplomados</span>
                        <span class="label label-custom label-pill label-danger">12</span>
                    </a>
                </li>

                <li class="red">
                    <a routerLink="/eventos" class="label-right">
                        <span class="lbl">Talleres</span>
                        <span class="label label-custom label-pill label-danger">4</span>
                    </a>
                </li>


            </ul>
        </li>

        <li>
            <a routerLink="/usuarios"><span class="lbl"><i
                        class="fas fa-users icono-naranja-suave icono"></i>Usuarios</span></a>
        </li>

        <li>
            <span>
                <i class="fas fa-sign-out-alt icono-rojo-suave icono"></i>
                <span class="lbl">Salir</span>
            </span>
        </li>

    </ul>
</nav>
<!--.side-menu-->